<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="angularjs/chartAngular.js"></script>
  <script type="text/javascript" src="js/charts/fusioncharts.js"></script>
  <script type="text/javascript" src="angularjs/charts/angular-fusioncharts.min.js"></script>



  <link rel="stylesheet" href="css/bootstrap.css"/>
  <link rel="stylesheet" href="css/_style.css"/>


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>
<body ng-app="chartApp" ng-controller="chartCtrl" ng-cloak>
  <div class="container-fluid container-main">
	<div class="row row-margin-none">
		<div class="col-md-12">
			<ul class="nav nav-pills nav-header">
        <li>
            <a class="img-logo" href="/" id=""><img alt="BitCoin Analytics" src="images/logo.png"><span></span></a>
        </li>
				<li>
					<a href="/">Home</a>
				</li>
				<li class="active">
					<a href="/viewChart">Prediction Chart</a>
				</li>
			</ul>
		</div>
	</div>
</div>
  <div class="row row-margin-none" style="text-align : center;">
    <div fusioncharts
    width="90%"
    height="1000px"
    type="msline"
    chart="{{attrs}}"
    categories="{{categories}}"
    dataset="{{dataset}}">
  </div>
  </div>
</body>

</html>
