<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="angularjs/indexAngular.js"></script>

  <link rel="stylesheet" href="css/bootstrap.css"/>
  <link rel="stylesheet" href="css/_style.css"/>


  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="images/favicon.png" type="image/vnd.microsoft.icon">
  <link rel="icon" href="images/favicon.png" type="image/vnd.microsoft.icon">
  <title>BitCoin Analytics</title>
</head>
<body ng-app="indexApp" ng-controller="indexCtrl" ng-cloak>
  <div class="container-fluid container-main">
    <div class="row row-margin-none row-margin">
      <div class="col-md-12">
        <ul class="nav nav-pills nav-header">
          <li>
            <a href="/" class="img-logo"><img alt="BitCoin Analytics" src="images/logo.png"></a>
          </li>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/viewChart">Prediction Chart</a>
          </li>
          <li class="active">
            <a href="/guide">Beginner's Guide</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row row-margin-none">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron" style="padding: 10px;">
            <h2>What is Bitcoin ?</h2>
            <p>Bitcoin is a form of digital currency, created and held electronically. No one controls it. Bitcoins aren’t printed, like dollars or euros – they’re produced by people, and increasingly businesses, running computers all around the world, using software that solves mathematical problems.
              It’s the first example of a growing category of money known as cryptocurrency.</p>
              <center>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Gc2en3nHxA4?list=PLZWrc_gWChqnaaeOQcxXG3qBF-yfS1Ayv" frameborder="0" allowfullscreen></iframe>
              </center>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h2>What makes it different from normal currencies?</h2>
            <p>Bitcoin can be used to buy things electronically. In that sense, it’s like conventional dollars, euros, or yen, which are also traded digitally.

              However, bitcoin’s most important characteristic, and the thing that makes it different to conventional money, is that it is decentralized. No single institution controls the bitcoin network. This puts some people at ease, because it means that a large bank can’t control their money.</p>

            </div>
            <div class="col-md-4">
              <h2>Who created it?</h2>
              <p>A software developer called Satoshi Nakamoto proposed bitcoin, which was an electronic payment system based on mathematical proof. The idea was to produce a currency independent of any central authority, transferable electronically, more or less instantly, with very low transaction fees.</p>
              </div>
              <div class="col-md-4">
                <h2>What is bitcoin based on?</h2>
                <p>Conventional currency has been based on gold or silver. Theoretically, you knew that if you handed over a dollar at the bank, you could get some gold back (although this didn’t actually work in practice). But bitcoin isn’t based on gold; it’s based on mathematics.

Around the world, people are using software programs that follow a mathematical formula to produce bitcoins. The mathematical formula is freely available, so that anyone can check it.

The software is also open source, meaning that anyone can look at it to make sure that it does what it is supposed to.</p>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </body>

        </html>
