<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="angularjs/indexAngular.js"></script>

  <link rel="stylesheet" href="css/bootstrap.css"/>
  <link rel="stylesheet" href="css/_style.css"/>

  <link rel="shortcut icon" href="images/favicon.png" type="image/vnd.microsoft.icon">
  <link rel="icon" href="images/favicon.png" type="image/vnd.microsoft.icon">
  <title>BitCoin Analytics</title>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>
<body ng-app="indexApp" ng-controller="indexCtrl" ng-cloak>
  <div class="container-fluid container-main">
    <div class="row row-margin-none row-margin">
      <div class="col-md-12">
        <ul class="nav nav-pills nav-header">
          <li>
            <a href="/" class="img-logo"><img alt="BitCoin Analytics" src="images/logo.png"></a>
          </li>
          <li class="active">
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/viewChart">Prediction Chart</a>
          </li>
          <li>
            <a href="/guide">Beginner's Guide</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row row-margin-none">
    <div class="col-md-3">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><strong>Current Price (USD)</strong></div>
        <div class="panel-body">
          <h1>{{currentPrice | currency}}</h1>
        </div>
      </div>
    </div>
    <div class="col-md-7">

      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><strong>Live BitCoin Transactions</strong></div>

        <table class="table"><tr><th>Transaction ID</th><th> Timestamp</th><th> Price</th><th> Address</th></table>
        <div id="row" style="height: 400px;width: 100%;overflow: scroll;"></div>
      </div>
    </div>

    <div class="col-md-2"></div>
  </div>
</body>

</html>
